<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Does it work?</h2>
    <h4>Great, here is the data you sent: <%= name %></h4>
  </body>
</html>
