<div ng-controller='appointmentsController as aC'>
<p><a href="#/welcome" ng-click='aC.logout()'>Logout</a></p>
<h1>Doctor's Appointments</h1>
<h3>Search: <input type="text" ng-model='search'></h3>
<table>
  <tr>
    <th>Date</th><th>Time</th><th>Patient Name</th><th>Complaint</th>
  </tr>
  <tr ng-repeat ='app in aC.info | orderBy:"date" :reverse =true | filter: search'>
    <td>{{app.date |date:"MM/dd/yyyy"}}</td><td>{{app.time}}</td>
    <td>{{app.patient_name}}</td><td>{{app.complain}}<span ng-if='app.canDelete'><button ng-click='aC.delete(app._id)'>Cancel</button><a href="#/edit/{{app._id}}">Edit</a></span></td>
  </tr>
</table>

<a href="#/create">Add New Appointment</a>
</div>
